Source: jquery-ui
Maintainer: bbalazs <bbalazs@balabit.hu>
Priority: extra
Section: web
Build-Depends: debhelper (>= 7)
Standards-Version: 1.12.1
Homepage: http://jqueryui.com

Package: jquery-ui
Architecture: all
Description: jQuery UI is a set of user interface built on top of the jQuery JavaScript Library.
